<!DOCTYPE html>
<html>
<head>
<style>
div.container {
    width: 100%;
    border: 1px solid gray;
}

button:hover{
    background-color: #ffffff; 
    width: 50px;
    height: 15px;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 2px;
}

button{
    background-color: #000000; 
    width: 50px;
    height: 15px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    margin-right: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>
</head>
<body>

<div class="container">

<header>
   <h1>Matérias</h1>
</header>
  
<nav>
  <ul>
    <li><a href="/">Início</a></li><br>
    <li><a href="/dados_pessoais">CV</a></li><br>
    <li><a href="/materias">Matérias</a></li><br>
  </ul>
</nav>

<article>

    Adicionar Matéria
    <%= form_tag materias_path do %>
      <%=text_field_tag 'nome',nil ,placeholder:'Nome da Matéria'%>
      <%=text_field_tag 'creditos',nil, placeholder:'Créditos'%>
      <%=button_tag 'Adicionar', :class=>'button'%>

    <% end %>

    Remover Matéria 
    <%= form_tag remover_por_nome_materias_path, :method=> :delete do %>
      <%=text_field_tag 'nome',nil ,placeholder:'Nome da Matéria'%>
      <%=button_tag 'Remover'%>

    <% end %>
  
    <div>
      <table border="0" width="790" ">
        <tr>
          <th>Nome</th>
          <th>Créditos</th>
        </tr>




        <% Materia.all.each do |materia|%>
          <tr>
            <td align="center"><%=materia.nome %></td>
            <td align="center"><%=materia.creditos %></td>
            <td align="center"><%=link_to('Ver',materia_path(materia.id)) %></td>
          </tr>
        <% end %>
      </table>
    </div>  


 

  
</article>

<%= yield %>
<footer></footer>

</div>


</body>
</html>